* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /* overflow: hidden; */
    background-color: black;
}

#page {
    display: grid;
    grid-template-areas:
    'kaka store' 
    'kaka powerups';
    height: 100vh;
    /* place-content: center; */
}


@keyframes spin {
    0% {
        /* rotate: 0; */
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
        /* rotate: 180deg; */
    }
    100% {
        transform: rotate(360deg);
        /* rotate: 360deg; */
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.clicked_cookie {
    animation: clicked 100ms;
}
@keyframes clicked {
    0% {
        scale: 1;
    }
    10% {
        scale: .9;
    }
    100% {
        scale: 1;
    }
}

#stats {
    /* margin: 20px; */
    color: wheat;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
#kaka {
    user-select: none;
    user-zoom: none;
    touch-action: manipulation;
    -webkit-user-drag: none;
    cursor:pointer;
    min-width: 30vw;
    width: 60%;
    --speed: 6000ms;
    animation: pulse 6000ms infinite, spin 6000ms infinite linear, hover 6000ms infinite; /* använder inte --speed variabeln just nu då den får animationen att hacka till varje gång --speed ändras. */
    margin: auto;
    align-self: center;
    image-rendering: pixelated;
    display: block;
    /* position: absolute; */
}
#CPS-progress-frame {
    width: 40%;
    height: 30px;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    display: none;
}
#CPS-progress {
    height: 100%;
    border-radius: 20px;
    background-color: green;
}
.progress-CPS {
    animation: progressbar 1000ms infinite linear;
}
@keyframes progressbar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


#store {
    grid-area: store;
    color: wheat;
    overflow-y: scroll;
    -ms-overflow-style: none; /* detta fungerar bara i vissa webbläsare, därför finns en liten del där nere också som funkar för resten. */
    scrollbar-width: none;
    min-height: 40vh;
}
#store::-webkit-scrollbar {
    display: none;
}

#powerups {
    grid-area: powerups;
    min-height: 20vh;
}
.powerup {
    height: 48px;
    image-rendering: pixelated;
    cursor: pointer;
}
#powerup_information_hoverview {
    position: absolute;
    width: 300px;
    /* height: 80px; */
    padding: 10px;
    border-radius: 7px;
    background-color: #663931;
    pointer-events: none;
    color: wheat;
    display: none;
}
#powerup_information_hoverview img {
    image-rendering: pixelated;
    height: 50px;
    width: fit-content;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}


.black_background {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 3px solid rgba(245, 222, 179, 0.6);
    padding: 40px;
    margin: 1%;

}



.purchasable_item {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    transition: all 100ms;
    cursor:pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.purchasable_item:hover {
    transform: scale(1.01);
    background-color: rgba(255, 255, 255, 0.1);
}
.price {
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .1);
}
.activate_character {
    /* display: none; */
    animation: purchase_item 1000ms ease-in-out;
}

@keyframes purchase_item {
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    15% {
        /* color: rgba(0, 0, 0, .6); */
        background-color: rgba(255, 255, 255, 0.5);
        transform:  translate(0px, -50px);
    }
    100% {
        color: rgba(0, 0, 0, 0);
        transform:  translate(0px, 150vh) rotate(-30deg);
    }
}

.purchase_denied {
    animation: purchase_denied 250ms linear;
}
@keyframes purchase_denied {
    10% {
        background-color: rgba(70, 0, 0, .65);
        transform: translate(10px, 0);
        transform: rotate(1deg);
    }
    35% {
        transform: rotate(-2deg);
        transform: translate(-10px, 0);
    }
    60% {
        transform: rotate(2deg);
        transform: translate(10px, 0);
        background-color: rgba(0, 0, 0, .65);
    }
    100% {
        transform: rotate(0deg);
        transform: translate(0, 0);
    }
}


@media (max-width: 800px) {
    #stats {
        flex-direction: column;
    }
    #CPS-progress-frame {
        width: 60%;
    }
}
@media (max-width: 600px) {
    #page {
        grid-template-areas:
        'kaka'
        'store'
        'powerups';
    }
    #store {
        min-height: 300px;
    }
}
@media (max-width: 400px) {
    #stats {
        border-radius: 10px;
    }
    #store {
        padding: 10px;
        border-radius: 10px;
    }
    #powerups {
        padding: 10px;
        border-radius: 10px;
    }
    #CPS-progress-frame {
        border-radius: 10px;
    }
    #CPS-progress {
        border-radius: 5px;
    }
    #powerup_information_hoverview {
        width: 200px;
    }
}