* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;

}

#page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
    /* place-content: center; */
}
#leftside {

}


@keyframes spin {
    0% {
        /* rotate: 0; */
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
        /* rotate: 180deg; */
    }
    100% {
        transform: rotate(360deg);
        /* rotate: 360deg; */
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.clicked_cookie {
    animation: clicked 100ms;
}
@keyframes clicked {
    0% {
        scale: 1;
    }
    10% {
        scale: .9;
    }
    100% {
        scale: 1;
    }
}

#stats {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin: 20px;
    color: wheat;
    padding: 5%;
}
#kaka {
    cursor:pointer;
    width: 60%;
    --speed: 6000ms;
    animation: pulse 6000ms infinite, spin 6000ms infinite linear, hover 6000ms infinite; /* använder inte --speed variabeln just nu då den får animationen att hacka till varje gång --speed ändras. */
    margin: auto;
    align-self: center;
    image-rendering: pixelated;
    display: block;
    /* position: absolute; */
    margin: auto;
}
#CPS-progress-frame {
    width: 40%;
    height: 30px;
    background-color: black;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    padding: 5px;
    display: none;
}
#CPS-progress {
    height: 100%;
    border-radius: 5px;
    background-color: green;
}
.progress-CPS {
    animation: progressbar 1000ms infinite linear;
}
@keyframes progressbar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

#rightside {
    /* height: 100vh; */
}


#store {
    
    /* height: 60%; */
    background-color: rgba(0, 0, 0, .6);
    border-radius: 30px;
    color: wheat;
    padding: 40px;
    /* overflow-y: scroll; */
}

.purchasable_item {
    background-color: rgba(0, 0, 0, .7);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    transition: all 100ms;
    cursor:pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.purchasable_item:hover {
    transform: scale(1.01);
    background-color: rgba(0, 0, 0, .65);
}
.activate_powerup {
    /* display: none; */
    animation: yourAnimation 1000ms ease-in-out;
}


@keyframes yourAnimation{
    0% {
        background-color: rgba(255, 255, 255, 0.8);
    }
    15% {
        /* color: rgba(0, 0, 0, .6); */
        background-color: rgba(255, 255, 255, 0.5);
        transform:  translate(0px, -50px);
    }
    100% {
        color: rgba(0, 0, 0, 0);
        transform:  translate(0px, 150vh) rotate(-30deg);
    }
}
